<div class="wrapper">
    <div class="search-container">
        <label for="search-text">Search Text:</label>
        <div>
            <input type="text" class="form-control" id="search-text" [(ngModel)]="searchText" placeholder="Search by name" name="searchText">
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Teacher</th>
                <th *ngIf="canUpdate">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let teacher of teachers | filter:searchText; let i = index;">
                <th>{{ i + 1 }}</th>
                <td>{{ teacher.username }}</td>
                <td *ngIf="canUpdate">
                    <a [routerLink]="['/home/teachers', teacher.id]"><button class="edit-btn">EDIT</button></a>
                    <button *ngIf="canDelete" class="delete-btn" (click)="deleteTeacher(i)">DELETE</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="action-panel">
        <a *ngIf="canCreate" routerLink="/home/teachers/add"><button class="add-btn">Add teacher</button></a>
    </div>
</div>