<div class="wrapper" [ngClass]="{'hidden': sidebarAppear === false, 'full': sidebarAppear === true}">
    <div class="sidebar" [ngClass]="{'slide': sidebarAppear === true}">
        <!-- <app-sidebar></app-sidebar> -->
        <div class="wrapper">
            <div class="title">
                <a href="/home">
                    <h1>LOGO</h1>
                </a>
            </div>
            <div class="menus">
                <div class="student-menu menu">
                    <i class="fas fa-users"></i>
                    <p class="desc">
                        Student
                    </p>
                </div>
                <div class="payment-menu menu">
                    <i class="far fa-credit-card"></i>
                    <p class="desc">
                        Payment
                    </p>
                </div>
                <div class="report-menu menu">
                    <i class="fas fa-chart-line"></i>
                    <p class="desc">
                        Report
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="header">
            <div class="wrapper">
                <div class="tools">
                    <!-- THIS WILL BE TOOLS -->
                    <div class="menu-toggle">
                        <input type="checkbox" [(ngModel)]="sidebarAppear">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="profile" (click)="dropdownAppear = !dropdownAppear">
                    <div class="profile-picture">
                        <img src="../../../../../assets/profile/default.jpeg" alt="pfp">
                    </div>
                    <p>Username</p>
                </div>
                <div class="dropdown" [ngStyle]="{'display':dropdownAppear === true ? 'block' : 'none'}">
                    <div class="menu">
                        <i class="fas fa-cog"></i>
                        <a routerLink="/home/settings" (click)="dropdownAppear = !dropdownAppear">Settings</a>
                    </div>
                    <div class="menu">
                        <i class="fas fa-sign-out-alt"></i>
                        <a (click)="logOut()">Log out</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="notif" *ngIf="onPageNotifActivated" [ngStyle]="{'background-color': onPageNotifBgColor}">{{ onPageNotifText }}</div>
            <div class="envelope" *ngIf="envActivated" [ngStyle]="{'background-color': envBgColor}">{{ envText }}</div>
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="copyright">Copyright &copy; Victor Ruchiadi</div>
</div>