<!-- <app-user-payment-modal *ngIf="userPaymentModalActivated"></app-user-payment-modal> -->
<div class="wrapper" [ngClass]="{'hidden': sidebarAppear === false, 'full': sidebarAppear === true}">
    <!-- <app-user-payment-modal *ngIf="userPaymentModalActivated" style="width: 100vw; height: 100vh;" class="darker"></app-user-payment-modal> -->
    <div class="sidebar" [ngClass]="{'slide': sidebarAppear === true, 'darker': userPaymentModalActivated === true}" (click)="onCloseModal()">
        <!-- <app-sidebar></app-sidebar> -->
        <div class="wrapper">
            <div class="title">
                <a href="/home">
                    <img src="../../../../../assets/logo/logo.png" width="130px" height="70px" style="margin-top: 5px;">
                </a>
            </div>
            <div class="menus">
                <div *ngIf="studentRoute" class="student-menu menu">
                    <i class="fas fa-users"></i>
                    <a (click)="toStudentsRoute()" class="desc">
                        Students
                    </a>
                </div>
                <div *ngIf="paymentRoute" class="payment-menu menu">
                    <i class="far fa-credit-card"></i>
                    <a (click)="toPaymentRoute()" class="desc">
                        Payment
                    </a>
                </div>
                <div *ngIf="reportRoute" class="report-menu menu">
                    <i class="fas fa-chart-line"></i>
                    <a (click)="toReportRoute()" class="desc">
                        Report
                    </a>
                </div>
                <div *ngIf="teacherRoute" class="teacher-menu menu">
                    <i class="fas fa-chalkboard-teacher"></i>
                    <a (click)="toTeacherRoute()" class="desc">
                        Teachers
                    </a>
                </div>
                <div *ngIf="classRoute" class="teacher-menu menu">
                    <i class="fas fa-school"></i>
                    <a (click)="toClassRoute()" class="desc">
                        Classes
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="header" [ngStyle]="{'padding-right':userPaymentModalActivated === true ? '200px' : '0px'}" [ngClass]="{'darker': userPaymentModalActivated === true}" (click)="onCloseModal()">
            <div class="wrapper" [ngClass]="{'smaller-wrapper': sidebarAppear === true, 'wrapper': sidebarAppear === false}">
                <!-- <div class="wrapper" [ngClass]="{'smaller-wrapper': sidebarAppear === true, 'wrapper': sidebarAppear === false}"> -->
                <!-- <div class="no-touch" *ngIf="userPaymentModalActivated" (click)="userPaymentModalActivated = !userPaymentModalActivated"></div> -->
                <div class="tools">
                    <!-- THIS WILL BE TOOLS -->
                    <div class="menu-toggle">
                        <input type="checkbox" [(ngModel)]="sidebarAppear">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="profile" (click)="dropdownAppear = !dropdownAppear">
                    <div class="profile-picture">
                        <img src="../../../../../assets/profile/default.jpeg" alt="pfp">
                    </div>
                    <p>{{ username }}</p>
                </div>
            </div>
        </div>
        <div class="dropdown" *ngIf="dropdownAppear" [ngClass]="{'slide': sidebarAppear === true, 'darker': userPaymentModalActivated === true}">
            <!-- <div class="dropdown" [ngStyle]="{'margin-left':dropdownAppear === true ? '0' : '200px'}"> -->
            <div class="menu">
                <i class="fas fa-cog"></i>
                <a routerLink="/home/settings" (click)="dropdownAppear = !dropdownAppear">Settings</a>
            </div>
            <div class="menu">
                <i class="fas fa-sign-out-alt"></i>
                <a (click)="logOut()">Log out</a>
            </div>
        </div>
        <div class="content">
            <div class="notif" *ngIf="onPageNotifActivated" [ngClass]="{'darker': userPaymentModalActivated === true}" [ngStyle]="{'background-color': onPageNotifBgColor}">
                <div class="text">
                    {{ onPageNotifText }}
                </div>
            </div>
            <div class="envelope" *ngIf="envActivated" [ngClass]="{'darker': userPaymentModalActivated === true}">
                <div class="text">
                    {{ envText }}
                </div>
            </div>
            <app-user-payment-modal></app-user-payment-modal>
            <router-outlet style="overflow: scroll;"></router-outlet>
        </div>
    </div>
    <div class="copyright" [ngClass]="{'darker': userPaymentModalActivated === true}" (click)="onCloseModal()">
        Copyright &copy; Victor Ruchiadi 2020-{{ year }}
        <!-- <div class="no-touch" [ngClass]="{'darker': userPaymentModalActivated === true}" *ngIf="userPaymentModalActivated" (click)="userPaymentModalActivated = !userPaymentModalActivated"></div> -->
    </div>
</div>