.wrapper {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: "sidebar main";
    grid-template-columns: 200px;
    transition: all 1s;
    /* transform: translateX(100%); */
    position: fixed;
    color: white;
}

.sidebar {
    grid-area: sidebar;
    background-color: #F5F0F2;
    overflow: scroll;
    /* position: fixed; */
    /* color: white; */
    padding-bottom: 60px;
    overflow: scroll;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-areas: "header" "content";
    grid-template-rows: 80px;
    /* background-color: #425CB7; */
    background-color: white;
    overflow: scroll;
    position: relative;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    grid-area: header;
    background-color: #425CB7;
    /* background-color: white; */
    position: relative;
    top: 0px;
    overflow: hidden;
}

.content {
    grid-area: content;
    /* padding-bottom: 30px; */
    overflow: hidden;
}

.envelope {
    position: fixed;
    margin: 0 auto;
    padding: 10px;
    height: fit-content;
    z-index: 2;
    right: 10px;
    top: 40px;
    color: white;
}

.notif {
    margin: 5px auto;
    width: 90%;
    padding: 10px;
    color: white;
}

.header .wrapper,
.header .smaller-wrapper {
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-areas: "tools profile";
    grid-template-columns: 1fr 200px;
    grid-template-rows: 80px;
    position: relative;
    /* overflow: scroll; */
}

.header .tools {
    grid-area: tools;
}

.header .profile {
    grid-area: profile;
    /* text-align: center; */
    font-size: 23px;
    position: absolute;
    height: 80px;
}

.header .profile-picture {
    padding-top: 20px;
    display: inline-block;
}

.header img {
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.header .profile p {
    font-size: 23px;
    display: inline-block;
    vertical-align: super;
    padding-left: 10px;
}

.dropdown {
    min-width: 150px;
    /* background-color: #425CB7; */
    background-color: rgb(238, 236, 236);
    padding: 10px;
    border-radius: 10px;
    border: 1px black solid;
    position: absolute;
    right: 40px;
    top: 85px;
    color: #425CB7;
    height: fit-content;
    z-index: 11;
    display: block;
}

.dropdown .menu {
    width: 80%;
    margin: 5px 10%;
    cursor: pointer;
}

.dropdown .menu i {
    width: 15%;
    display: inline-block;
    vertical-align: super;
}

.dropdown .menu p,
.dropdown .menu a {
    padding-left: 10px;
    width: 70%;
    display: inline-block;
    vertical-align: super;
    text-decoration: none;
}

.dropdown a:visited {
    color: #425CB7;
}


/*Hamburger Menu*/

.header .menu-toggle {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    left: 10px;
    top: 35%;
    display: none;
}

.header .menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -5px;
    top: -3px;
    cursor: pointer;
    z-index: 2;
}

.header .menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.5s;
}


/*Hamburger Menu Animation*/

.header .menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.header .menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.header .menu-toggle input:checked~span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}

.header .menu-toggle input:checked~span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}

.header .menu-toggle input:checked~span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}

.sidebar .wrapper {
    display: grid;
    grid-template-areas: "title" "menu";
    grid-template-rows: 80px;
    height: 100%;
    width: 100%;
    color: black;
}

.sidebar .title {
    /* height: 80px; */
    border-bottom: 1px solid silver;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    grid-area: title;
}

.sidebar .title h1 {
    transform: translateY(50%);
    font-size: 28px;
}

.sidebar a,
.sidebar a:visited {
    text-decoration: none;
    color: black;
}

.sidebar .menus {
    height: 100%;
    width: 100%;
    grid-area: menu;
    /* padding-top: 10px; */
}

.sidebar .menu {
    width: 80%;
    margin-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.sidebar .menu i,
.sidebar .menu p {
    display: inline-block;
}

.sidebar .menu i {
    width: 15%;
    text-align: center;
    /* background-color: yellow; */
}

.sidebar .desc {
    width: fit-content;
    padding-left: 15%;
    /* background-color: green; */
}

.content {
    background-color: white;
    padding-bottom: 100px;
}

.copyright {
    text-align: center;
    width: 100vw;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #F5F0F2;
    position: fixed;
    bottom: 0px;
    z-index: 5;
    color: black;
}

.modal-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
}

.modal {
    width: 70vw;
    height: 80vh;
    background-color: white;
    position: fixed;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white;
    border-radius: 5px;
}

::ng-deep .mat-option-text {
    color: black;
}

::ng-deep .mat-form-field-label {
    color: black;
    /* color: rgba(0, 0, 0, 0); */
}

.darker {
    filter: brightness(50%);
    overflow: hidden;
    /* pointer-events: none; */
}

.darker * {
    pointer-events: none;
}

.lighter {
    filter: brightness(100%) !important;
}

.content {
    color: black;
}

.modal .modal-header {
    width: 100%;
    text-align: center;
    font-size: xx-large;
    color: white;
    background: #425CB7;
    /* background: repeating-linear-gradient(45deg, #425CB7, transparent 150px); */
}

.amount {
    text-align: right;
    padding-right: 10px;
}

.class {
    padding-left: 10px;
}

table {
    width: 90%;
    margin: 5px auto;
    height: fit-content;
    margin: 0 auto;
    margin-top: 10px;
    border-spacing: 0;
    /* border: 1px solid; */
    border-collapse: collapse;
    overflow: scroll;
}

th,
td {
    border: 1px solid;
    margin: 0 auto;
}

.select {
    padding: 20px;
}

.modal-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: grid;
}

.modal-footer button {
    align-items: center;
    padding: 0;
    background: #f55a4e;
    outline: 0;
    border: 0;
    color: white;
}

.modal-footer button:hover {
    background-color: #faaca6;
}


/*Responsive Breakpoint*/

@media screen and (max-width: 992px) {
    .header .wrapper {
        grid-template-columns: 1fr 100px;
        width: 100vw;
    }
    .header .smaller-wrapper {
        grid-template-columns: 1fr 100px;
        width: calc(100vw - 200px);
        /* transition: none; */
    }
    .header .menu-toggle {
        display: flex;
    }
    .header .profile p {
        display: none;
    }
    .sidebar {
        opacity: 0;
        /* height: 100vh; */
        /* transform: translateX(-100%); */
        transition: all 1s;
    }
    .slide {
        opacity: 1;
        /* transform: translateX(0); */
    }
    .hidden {
        grid-template-columns: 0px;
        transition: 1s;
    }
    .full {
        grid-template-columns: 200px 1fr;
        grid-template-areas: "sidebar main";
        transition: 1s;
    }
    .main {
        /* grid-template-rows: 200px; */
        grid-template-columns: 100%;
        /* grid-template-columns: calc(100vw - 200px); */
        grid-template-areas: "header" "content";
    }
    .copyright {
        width: 100%;
    }
}