<div class="modal-wrapper" *ngIf="modalActivated" (click)="onCloseModal()">
    <div class="modal" [ngClass]="{'lighter': modalActivated=== true}" (click)="onOpenModal($event)" ng-click="$event.stopPropagation()">
        <div class="modal-header">
            Add Student Payment
        </div>
        <div class="modal-content">
            <div class="select">
                <mat-form-field appearance="fill">
                    <mat-label>Student</mat-label>
                    <mat-select [(ngModel)]="selectedStudent" name="students-name" (selectionChange)="onSelectionChange($event)">
                        <mat-option *ngFor="let student of students" [value]="student.username">
                            {{student.username}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <table *ngIf="paymentsDateDisplay">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Class</th>
                        <th>Amount</th>
                        <th>Payment for</th>
                        <th>Payment date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let payment of payments; let i = index">
                        <th>{{ i + 1 }}</th>
                        <td class="class">{{ payment.class }}</td>
                        <td class="amount">{{ payment.amount| currency:"IDR" }}</td>
                        <td>
                            <input style="margin: 5px;" type="text" placeholder="DESCRIPTION" [(ngModel)]="desc[i]">
                        </td>
                        <td style="padding: 5px;">
                            <!-- <input style="margin: 5px;" type="text" [(ngModel)]="paymentsDate[i]" readonly> -->
                            <ng-month-picker [showIcon]="false" [isReadOnly]="true" readonly [displayFormat]="'MMMM YYYY'" [valueFormat]="'MMMM YYYY'" [(ngModel)]="paymentsDate[i]"></ng-month-picker>
                        </td>
                        <td>
                            <button class="add-btn" (click)="onClickAdd(i)">ADD</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer ">
            <button (click)="onCloseModal() ">CLOSE</button>
        </div>
    </div>
</div>