.modal-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: transparent;
}

.modal {
    width: 80vw;
    height: 90vh;
    background-color: white;
    position: fixed;
    overflow: hidden;
    left: 10vw;
    top: 5vh;
    display: grid;
    grid-template-areas: "header" "content" "footer";
    grid-template-rows: 47px 1fr 29px;
    /* margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 5vw;
    margin-right: 5vw; */
}

 ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white;
    border-radius: 5px;
}

 ::ng-deep .mat-option-text {
    color: black;
}

 ::ng-deep .mat-form-field-label {
    color: black;
    /* color: rgba(0, 0, 0, 0); */
}


/* ::ng-deep .form-control:read-only {
    background-color: white;
}

::ng-deep .month-picker,
::ng-deep .month:read-only {
    background-clip: none;
    background-color: #fff;
    border: 1px solid;
    border-radius: 0;
    color: black;
    display: block;
    font-size: 20px;
    line-height: 0;
    padding: 0;
    margin: 5px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: fit-content;
} */

.darker {
    filter: brightness(50%);
    overflow: hidden;
    /* pointer-events: none; */
}

.darker * {
    pointer-events: none;
}

.lighter {
    filter: brightness(100%) !important;
}

.modal-content {
    grid-area: content;
    color: black;
    /* padding-bottom: 300px; */
    /* height: ; */
    position: relative;
    /* display: grid; */
}

.modal .modal-header {
    grid-area: header;
    width: 100%;
    text-align: center;
    font-size: xx-large;
    color: white;
    background: #425CB7;
    /* background: repeating-linear-gradient(45deg, #425CB7, transparent 150px); */
}

.amount {
    text-align: right;
    padding-right: 10px;
}

.class {
    padding-left: 10px;
}

table {
    width: 90%;
    margin: 5px auto;
    height: fit-content;
    margin: 0 auto;
    margin-top: 10px;
    border-spacing: 0;
    /* border: 1px solid; */
    border-collapse: collapse;
    overflow: scroll;
}

th,
td {
    border: 1px solid;
    margin: 0 auto;
}

.select {
    padding: 20px;
}

.modal-footer {
    grid-area: footer;
    width: 100%;
    /* position: absolute; */
    /* bottom: 0; */
    display: grid;
}

.modal-footer button {
    align-items: center;
    padding: 0;
    background: #f55a4e;
    outline: 0;
    border: 0;
    color: white;
}

.modal-footer button:hover {
    background-color: #faaca6;
}

table button {
    font-size: 18px;
    margin: 5px;
    padding: 2px 0px;
    width: 100px;
    color: white;
    border: 0;
    display: inline-block;
}

.cancel-btn {
    background-color: #f55a4e;
}

.cancel-btn:hover {
    background-color: #faaca6;
}

.update-btn {
    background-color: #ffcc00;
}

.update-btn:hover {
    background-color: #ffe57f;
}

.add-btn {
    background-color: #42b79a;
}

.add-btn:hover {
    background-color: #9fdccd;
}

.modal-content {
    overflow: scroll;
}

@media screen and (max-width: 992px) {
    .modal {
        width: 90vw;
        left: 5vw;
    }
}