.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #1A294E;
    overflow: scroll;
}

.container {
    height: 90%;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 1fr 1fr;
    overflow: scroll;
}

.left {
    grid-area: left;
    margin: 5% auto;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(112, 128, 144, 0.85);
    overflow: scroll;
}

.right {
    grid-area: right;
    background: url('../../../../assets/login/login1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    margin: 5% auto;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    color: white;
}

.input-container {
    background-color: transparent;
    outline: 0;
    border: 1px white solid;
    border-radius: 25px;
    width: 100%;
    margin: 5% auto;
    /* margin-left: 0; */
    height: 30px;
    font-size: larger;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
}

i {
    width: 15%;
    text-align: center;
}

input {
    outline: 0;
    border: 0;
    width: 70%;
    color: white;
    background-color: transparent;
}

i,
input {
    vertical-align: super;
}

input::placeholder {
    color: darkgrey;
}

.title {
    text-align: center;
    color: white;
    font-size: 3em;
    padding-top: 20px;
}

form {
    margin: 0 auto;
    padding: 5%;
    padding-top: 0;
}

.login-btn {
    margin: 5% auto;
    margin-bottom: 0;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    background-color: #425CB7;
    color: #F8F8F6;
    border: 0;
    border-radius: 25px;
    font-weight: 400;
}

.login-btn:focus {
    outline: none;
    border: none;
}

.fb-btn,
.google-btn {
    background-color: lightgray;
    text-align: left;
    display: inline-block;
}

.btnText {
    display: inline-block;
    text-transform: uppercase;
}

button i {
    display: inline-block;
    width: 15px;
    padding-right: 30px;
    margin: 0 auto;
    vertical-align: baseline;
    text-align: left;
}

button div {
    width: 65%;
    text-align: center;
    margin: 0 auto;
}

.fb-btn {
    color: #425CB7;
}

.google-btn {
    color: #f55a4e;
}

.notif {
    margin: 5% auto;
    background: white;
    padding: 8px;
    /* border-radius: 25px; */
    padding-left: 20px;
    color: #f55a4e;
    border: 5px solid;
}

.notif i {
    width: 5%;
    display: inline-block;
    text-align: center;
    vertical-align: initial;
}

.notif div {
    width: 80%;
    display: inline-block;
    padding-left: 15px;
}

.success {
    color: #52a77d;
}

@media (max-width: 992px) {
    .container {
        grid-template-areas: "left";
        grid-template-columns: 1fr;
    }
    .right {
        display: none;
    }
    .container {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    .left {
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 1000px;
    }
}