<div class="wrapper">
    <form>
        <div class="table-wrapper" *ngIf="loaded">
            <div class="search">
                <label for="search-text">Search Text:</label>
                <div>
                    <button>
                        <i class="fas fa-search"></i>
                    </button>
                    <input type="text" class="form-control" id="search-text" [(ngModel)]="searchText1" placeholder="Search by name" name="searchText1">
                </div>
            </div>
            <table class="table-1">
                <thead>
                    <!-- <tr>
                        <td colspan="3">
                            
                        </td>
                    </tr> -->
                    <tr>
                        <th colspan="3">AVAILABLE STUDENTS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>#</th>
                        <th>NAME</th>
                        <th>ACTION</th>
                    </tr>
                    <tr *ngFor="let student of displayAvailableStudents() | filter:searchText1; let i = index;">
                        <th [ngClass]="{'not-confirmed': availableStudents[i].newAdded === true}">{{ i + 1 }}</th>
                        <td [ngClass]="{'not-confirmed': availableStudents[i].newAdded === true}">{{ student }}</td>
                        <td [ngClass]="{'not-confirmed': availableStudents[i].newAdded === true}">
                            <button class="add-btn" (click)="changeToAdded(i)">
                                <i class="fas fa-user-plus" style="border: none;"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table-2">
                <thead>
                    <!-- <tr>
                        <td colspan="3">
                            <label for="search-text">Search Text:</label>
                            <div>
                                <input type="text" class="form-control" id="search-text2" [(ngModel)]="searchText2" placeholder="Search by name" name="searchText2">
                            </div>
                        </td>
                    </tr> -->
                    <tr>
                        <th colspan="3">ADDED STUDENTS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>#</th>
                        <th>NAME</th>
                        <th>ACTION</th>
                    </tr>
                    <tr *ngFor="let student of displayAddedStudents()| filter:searchText1; let i = index;">
                        <th [ngClass]="{'not-confirmed': addedStudents[i].newAdded === true}">{{ i + 1 }}</th>
                        <td [ngClass]="{'not-confirmed': addedStudents[i].newAdded === true}">{{ student }}</td>
                        <td [ngClass]="{'not-confirmed': addedStudents[i].newAdded === true}">
                            <button class="minus-btn" (click)="changeToAvailable(i)">
                                <i class="fas fa-user-minus" style="border: none;"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
    <div class="action-panel" (click)="onSubmit()">
        <button class="submit-button" type="button">Submit</button>
    </div>
</div>